@font-face {
  font-family: "Custom1";
  src: url("/Assets/Font/Unlicensed/ABCArizonaFlareVariable-Trial.ttf")
    format("truetype-variations");
}

@font-face {
  font-family: "Custom2";
  src: url("/Assets/Font/Unlicensed/GT-Walsheim-Light-Trial.otf")
    format("truetype-variations");
}

a {
  color: inherit;
  text-decoration: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Custom1;
  font-weight: 300;
  font-size: 1rem;

  background-color: #090909;

  margin: 0;
  padding: 0;
}

html {
  overflow-y: hidden;
}

.nav-container {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: clamp(320px, 600px, 90vw);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
  /* background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1000px;
  -webkit-backdrop-filter: blur(15px); */
}

.nav-link {
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  white-space: nowrap;
  overflow-x: auto;
  width: 100vw;
  height: 100vh;
}

.proj-title-image {
  display: inline-block;
  position: relative;
  margin-right: -4px; /* Why? */
  padding: 0px;
  height: 100%;
  width: 100%;
}

.proj-title-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
}

.proj-title-text {
  display: none;
}

/* Text on Div Mousemove */
.text-div {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.text-div:hover {
  cursor: none;
}

.cursor-text {
  pointer-events: none;
}

.text-div .cursor-text {
  position: fixed;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  top: -20px;
  left: 10px;
  background-color: transparent;
  padding: 5px;
  color: white;
  line-height: 1;
  font-size: 1.2em;
  mix-blend-mode: difference;
}

/* Mobile */
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
  }

  .proj-title-image {
    height: 100vh;
  }

  .nav-container {
    width: clamp(200px, 330px, 95vw);
    font-size: 0.8rem;
  }

  .title-container {
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .proj-title-text {
    display: block;
    color: white;
    line-height: 1;
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 10px;
    padding-left: 15px;
    mix-blend-mode: difference;
  }
}

/* DELETE AFTER MOBILE TEST*/
.mobile-test {
  z-index: 100;
  width: 10px;
  height: 10px;
  position: fixed;
  background-color: white;
  font-size: 1em;
  top: 12px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  pointer-events: none;
}
